Wage Sheet Info
<div class="table-responsive">
    <table border="1" cellpadding="5" class="table">
        <tr>
            <th>Date</th>
            <td>{{wage_sheet.date}}</td>
            <th>Field Manager</th>
            <td>{{wage_sheet.field_manager_user}}</td>
            <th>Supervisor</th>
            <td>{{wage_sheet.supervisor_user}}</td>
            {%if wage_sheet.segment%}
            <th>Project</th>
            <td>{{wage_sheet.segment.project}}</td>
            <th>Segment</th>
            <td>{{wage_sheet.segment}}</td>
            {%endif%}
        </tr>
    </table>
</div>
