{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
Projects
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-project">
    New Project
</button>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ./row -->
        <div class="row">
            <!-- ./col -->
            <div class="col-12">
                <div class="card">
                    <!-- ./ card-header -->
                    <div class="card-header">
                        <h3 class="card-title">Manage Projects</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- ./card-body -->
                    <div class="card-body">
                        <table id="example1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Client</th>
                                    <th>Start Date</th>
                                    <th>Ex. End Date</th>
                                    <th>Status</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects%}
                                <tr>
                                    <td>
                                      <a href="{% url 'project_details' project.id%}">
                                        {{project.name}}<br>({{project.project_code}})
                                      </a>
                                    </td>
                                    <td>
                                      <img class="img-size-50 mr-3 img-circle" src="{{project.client.profile_pic.url}}"/>
                                    </td>
                                    <td>{{project.start_date}}</td>
                                    <td>{{project.expected_end_date}}</td>
                                    <td>{{project.status}}
                                    </td>
                                    <td>
                                        <a href="#" style="color:inherit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" style="color: inherit" ...
                                            onclick="">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    <td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="modal fade" id="modal-add-project">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add New Project</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}