{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load project_extras %}

{%block page_title%}
{{project}} - Details
{% endblock%}

{% block content %}    
    <div class="container-fluid">
        <!--Overview Row-->
        <div class="row">
            <div class="card-body">
            {% comment %} <h4>Menu List</h4> {% endcomment %}
            <div class="row">
              <div class="col-3 col-sm-2">
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-overview" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Overview</a>
                  <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-surveys" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Surveys</a>
                  <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-boq" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">BOQ</a>
                  <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-scope" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Scope</a>
                  <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-pip" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">PIP</a>
                  <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-budget" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Budget</a>
                  <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-sites" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Sites</a>
                </div>
              </div>
              <div class="col-7 col-sm-10">
                <div class="tab-content" id="vert-tabs-tabContent">
                  <div class="tab-pane text-left fade show active" id="vert-tabs-overview" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Estimated budget</span>
                            <span class="info-box-number text-center text-muted mb-0">2300</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Total amount spent</span>
                            <span class="info-box-number text-center text-muted mb-0">2000</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Estimated project duration</span>
                                <span class="info-box-number text-center text-muted mb-0">20</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Total Time Spent</span>
                                <span class="info-box-number text-center text-muted mb-0">20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-lg-3 col-3">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>44</h3>

                                <p>Fibre Deployement</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-3">
                            <!-- small box -->
                            <div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>

                                <p>Sites</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="{% url 'manage_sites' project.id %}" class="small-box-footer">View Sites <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box --> 
                            <div class="small-box bg-success">
                            <div class="inner">
                                <h3>53</h3>

                                <p>Manholes</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-archive"></i>
                            </div>
                            <a href="#" class="small-box-footer">View Manholes <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>            
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Towers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                                <a href="#" class="small-box-footer">View Towers <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                  </div>
                  <div class="tab-pane fade clearfix" id="vert-tabs-surveys" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                    <!-- ./card-Survey -->
                    <div class="card-body ">                        
                        <table id="survey_table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Survey</th>
                                    <th>Scope</th>                                    
                                    <th>UOM</th>
                                    <th>Surveyor</th>
                                    <th>Status</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for survey in surveys%}
                                <tr>
                                  <td>{{survey}}</td>
                                  <td>{{survey.scope}}</td>
                                  <td>{{survey.unit_of_measure}}</td>
                                  <td>{{survey.surveyor}}</td>
                                  <td>{{survey.status}}</td>
                                  <td>
                                    <a href="" style="color:inherit">
                                      <button class="btn btn-outline-info btn-rounded waves-effect">
                                          View Details
                                      </button>                                        
                                    </a>
                                  </td>                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                    <!-- /.card-Survey -->
                  </div>

                  <!-- ./card-BOQ -->
                  <div class="tab-pane fade" id="vert-tabs-boq" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">                    
                    <div class="card-body ">                        
                        {% if material_boqs %}
                          <h3>Materials</h3>
                          <table id="survey_table" class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Material</th>
                                      <th>Quantity</th>                                    
                                      <th>Unit Cost</th>
                                      <th>Total Cost</th>
                                      <th>#</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for boq in material_boqs%}
                                  <tr>
                                    <td>{{ boq.material|material_name_filter }}</td>
                                    <td>{{boq.material_total}}</td>
                                    <td>{{boq.material|material_unitcost_filter}}/-</td>
                                    <td>{{boq.material|material_totalcost_filter:boq.material_total}}/-</td>
                                    <td>
                                      <a href="" style="color:inherit">
                                        <button class="btn btn-outline-info btn-rounded waves-effect">
                                            View Details
                                        </button>                                        
                                      </a>
                                    </td>                                    
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table> 
                        {% else %}
                          <h4> No Material BOQ Items</h4>
                        {% endif %}
                        {% if service_boqs %}
                          <h4> Services</h4>
                          <table id="services_table" class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Activity</th>
                                      <th>Scope</th>                                    
                                      <th>Unit Cost</th>
                                      <th>Total Cost</th>
                                      <th>#</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for boq in service_boqs%}
                                  <tr>
                                    <td>{{boq.activity|activity_name_filter}}</td>
                                    <td>{{boq.activity_total}}</td>
                                    {% with boq.activity|activity_unitcost_filter:project.client_id as rate %}
                                    <td>{{rate}}/-</td>
                                    <td>{{boq.activity_total|activity_totalcost_filter:rate}}/-</td>
                                    {% endwith %}
                                    <td>
                                      <a href="" style="color:inherit">
                                        <button class="btn btn-outline-info btn-rounded waves-effect">
                                            View Details
                                        </button>                                        
                                      </a>
                                    </td>                                    
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                        {% else %}
                          <h4>No Service BOQ Items</h4>
                        {% endif %}
                    </div>   
                  </div>
                  <!-- /.card-BOQ -->
                  <div class="tab-pane fade" id="vert-tabs-scope" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                    <h3>Scopes</h3>
                    <table id="services_table" class="table table-striped">
                      <thead>
                          <tr>
                              <th>Type</th>
                              <th>Scope</th> 
                              <th>#</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for scope in project_scopes%}
                          <tr>
                            <td>{{scope.survey|survey_filter}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>
                              <a href="" style="color:inherit">
                                <button class="btn btn-outline-info btn-rounded waves-effect">
                                    View Details
                                </button>                                        
                              </a>
                            </td>                                    
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>   
                  </div>

                  <!--Pip tab-->
                  <div class="tab-pane fade" id="vert-tabs-pip" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                    <h3>PIP</h3>
                    <table id="services_table" class="table table-striped">
                      <thead>
                          <tr>
                              <th>Activity</th>
                              <th>Duration</th>
                              <th>Start</th> 
                              <th>End</th> 
                              <th>Dependency</th>
                              <th>#</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for pip in project_pips%}
                          <tr>
                            <td>{{pip.activity|activity_name_filter}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>
                              <a href="" style="color:inherit">
                                <button class="btn btn-outline-info btn-rounded waves-effect">
                                    View Details
                                </button>                                        
                              </a>
                            </td>                                    
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>   
                  </div>

                  <!--Budget tab-->
                  <div class="tab-pane fade" id="vert-tabs-budget" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                    <h3>Material Budget</h3>
                    <table id="services_table" class="table table-striped">
                      <thead>
                          <tr>
                              <th>Material</th>
                              <th>Quantity</th>
                              <th>Unit Cost</th> 
                              <th>Total Cost</th> 
                              <th>#</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for scope in project_scopes%}
                          <tr>
                            <td>{{scope.survey}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>
                              <a href="" style="color:inherit">
                                <button class="btn btn-outline-info btn-rounded waves-effect">
                                    View Details
                                </button>                                        
                              </a>
                            </td>                                    
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>   
                  </div>

                  <!--Sites tab-->
                  <div class="tab-pane fade" id="vert-tabs-sites" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                    <h3>Sites </h3>
                    <table id="services_table" class="table table-striped">
                      <thead>
                          <tr>
                              <th>Activity</th>
                              <th>Duration</th>
                              <th>Start</th> 
                              <th>End</th> 
                              <th>Dependency</th>
                              <th>#</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for scope in project_scopes%}
                          <tr>
                            <td>{{scope.survey}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>{{scope.scope_total}}</td>
                            <td>{{scope.survey}}</td>
                            <td>
                              <a href="" style="color:inherit">
                                <button class="btn btn-outline-info btn-rounded waves-effect">
                                    View Details
                                </button>                                        
                              </a>
                            </td>                                    
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>   
                  </div>

                </div>
              </div>
            </div>            
          </div>
          <!-- /.card -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid --> 

    <!-- ./modal -->
    <div class="modal fade" id="modal-add-project">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add New Project</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}