[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==5.0.5"
autopep8 = "==1.4.4"
billiard = "==3.6.3.0"
celery = "==5.0.5"
click = "==7.1.2"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.1.6"
django-celery-beat = "==2.2.0"
django-celery-results = "==2.0.1"
django-crispy-forms = "==1.9.2"
django-crontab = "==0.7.1"
django-javascript-settings = "==1.1.2"
django-model-utils = "==4.1.1"
django-timezone-field = "==4.1.1"
gunicorn = "==20.0.4"
html5lib = "==1.1"
importlib-metadata = "==3.6.0"
kombu = "==5.0.2"
prompt-toolkit = "==3.0.16"
pycodestyle = "==2.6.0"
pypdf2 = "==1.26.0"
python-crontab = "==2.5.1"
python-dateutil = "==2.8.1"
python-decouple = "==3.4"
pytz = "==2021.1"
redis = "==3.5.3"
reportlab = "==3.5.59"
six = "==1.15.0"
sqlparse = "==0.4.1"
typing-extensions = "==3.7.4.3"
vine = "==5.0.0"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
whitenoise = "==5.2.0"
xhtml2pdf = "==0.2.3"
zipp = "==3.4.0"
Django = "==2.2.2"
Pillow = "==7.2.0"

[requires]
python_version = "3.7"
