astroid==2.2.5
autopep8==1.4.4
backcall==0.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
coverage==4.5.4
cryptography==2.9.2
decorator==4.4.1
defusedxml==0.7.0rc1
Django==2.2.2
django-crispy-forms==1.9.2
djangorestframework==3.10.3
ecdsa==0.15
html5lib==1.0.1
idna==2.9
ipython==7.11.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
lazy-object-proxy==1.4.1
mccabe==0.6.1
nexmo==2.4.0
oauthlib==3.1.0
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
Pygments==2.5.2
PyJWT==1.7.1
pylint==2.3.1
PyPDF2==1.26.0
PyQt5==5.13.2
PyQt5-sip==12.7.0
python-dotenv==0.14.0
python-jose==3.1.0
python3-openid==3.2.0
pytz==2019.3
reportlab==3.5.23
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.14.0
social-auth-app-django==3.4.0
social-auth-core==3.3.3
sqlparse==0.3.0
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.9
wcwidth==0.1.8
webencodings==0.5.1
wrapt==1.11.2
xhtml2pdf==0.2.3
django-javascript-settings
django-model-utils
gunicorn
psycopg2-binary
django-on-heroku
