{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block page_title%}
Manage Workers
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-project">
    New Worker
</button>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if workers%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Workers</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="pageTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>National ID</th>
                                <th>Joined Date</th>
                                <th>M.M Number</th>
                                <th>Address</th>
                                <th>Kin contact</th>
                                <th>Working With</th>
                                <th>Action</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for worker in workers%}
                            <tr>
                                <td class="text-center">
                                    {{worker.name}}<br/>
                                    ({{worker.gender}})
                                </td>
                                <td>
                                    {{worker.national_id}}
                                </td>
                                <td>{{worker.joining_date}}</td>
                                <td>{{worker.mobile_money_number}}</td>
                                <td>{{worker.address}}</td>
                                <td>{{worker.next_of_kin}}</td>
                                <td>{{worker.assigned_to}}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'transfer_worker' worker.id %}">
                                        Transfer
                                    </a>
                                </td>
                                <td>
                                    <a href="{%url 'edit_worker' worker.id%}" style="color:inherit">
                                        <i class="fa fa-edit"></i>
                                    </a> |
                                    <a href="{%url 'delete_worker' worker.id%}" style="color: inherit">
                                        <i class="fa fa-trash"
                                           onclick="return confirm('Do you want to delete {{worker.name}}?')"></i>
                                    </a>
                                <td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No workers available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="modal fade" id="modal-add-project">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Worker</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- page script -->
{% block customJS %}
<script>
  $(function () {
    $("#workertable").DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock customJS %}
{% endblock content %}