{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block page_title%}
All Workers
{% endblock%}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if workers%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Workers</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    <a href="{%url 'all_workers_csv'%}">
                        <button class="btn btn-outline-primary" style="margin:5px; float: right" >
                            Export CSV
                        </button>
                    </a>
                    <a href="{%url 'all_workers_pdf' %}">
                        <button class="btn btn-outline-primary" style="margin:5px; float: right" >
                            Export PDF
                        </button>
                    </a>
                    <a href="{%url 'workers_dashboard'%}">
                        <button class="btn btn-outline-primary" style="margin:5px; float: right" >
                            Workers Dashboard
                        </button>
                    </a>
                    <div class="table-responsive">
                        <table id="pageTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>M.M Number</th>
                                <th>M.M Name</th>
                                <th>Registered by</th>
                                <th>Assigned To</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for worker in workers%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>
                                    {{worker.name}}<br/>
                                    ({{worker.gender}})
                                </td>
                                <td>{{worker.mobile_money_number}}</td>
                                <td>{{worker.mobile_money_name}}</td>
                                <td>
                                    {{worker.registered_by_user}}
                                </td>
                                <td>{{worker.assigned_to}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No workers available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<!-- page script -->
{% block customJS %}
<script>
  $(function () {
    $("#workertable").DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock customJS %}
{% endblock content %}