{% extends '../base.html' %} {% load static %} {% load crispy_forms_tags %}
{%load javascript_settings_tags %} {%block page_title%} Manage Users
{%endblock%} {% block right_button%}
<button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modal-add-user"
>
  New User
</button>
{% endblock %} {% block content %}
<div class="container-fluid">
  <!-- ./row -->
  <div class="row">
    <!-- ./col -->
    <div class="col-12">
      <div class="card">
        <!-- ./ card-header -->
        <div class="card-header">
          <h3 class="card-title">Manage Users</h3>
        </div>
        <!-- /.card-header -->
        <!-- ./card-body -->
        <div class="card-body">
          <div class="table-responsive">
            <table id="pageTable" class="table table-striped">
              <thead>
              <tr>
                {% comment %}
                <th></th>
                {% endcomment %}
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Is Superuser</th>
                <th>#</th>
              </tr>
              </thead>
              <tbody>
              {% for user in users%}
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.user_role}}</td>
                <td>{{user.is_superuser}}</td>
                <td>
                  <a
                          href="{% url 'edit_user' user.id %}"
                          style="color: inherit"
                  >
                    <i class="fa fa-edit"></i>
                  </a>
                  |
                  <a
                          href="{%url 'delete_user' user.id %}"
                          style="color: inherit"
                  >
                    <i
                            class="fa fa-trash"
                            onclick="return confirm('Do you want to delete this User?')"
                    >
                    </i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-add-user">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New User</h4>
        <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ user_form|crispy }}
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock content %}
