{% extends '../base.html' %}
{% load static %}
{%block page_title%}
Payments Dashboard for {{wage_bill}}
{% endblock%}

{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        {%for chart in charts%}
        <div class="col-md-6">
            <div class="card card-primary" style="height:100%">
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">{{chart.title}}</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        {{chart.html|safe}}
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        {%endfor%}
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <hr/>
    <div class="row">
        <!-- ./col -->
        <div class="col-6">
            <div class="card">
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Total Payment Per Day</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{df|safe}}
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-6">
            <div class="card">
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Total Payment Per Field Manager</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{fm_df|safe}}
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block chart_js_scripts %}
{% for chart in charts %}
{{ chart.js|safe }}
{% endfor %}
{% endblock %}