{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load javascript_settings_tags %}
{%block page_title%}
View All Wage Bills
{% endblock%}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            
            {%if wagebills%}                
                <table id="pageTable" class="table table-striped">                    
                    <tbody>
                    <tr><td>
                    {% for wage_bill in wagebills%}
                        <div class="card">
                            <h5 class="card-header">{{wage_bill.id}}</h5>
                            <div class="card-body">
                                <h4 class="card-title float-left">{{wage_bill}}</h4>
                                <p class="card-text float-right">{{wage_bill.status}}</p><br/><br/>
                                <div class="float-left">
                                    {%if wage_bill.is_wage_bill_week_done %}
                                        <a href="{%url 'generate_consolidated_wage_bill' wage_bill.id %}">
                                            <button class="btn btn-primary" style="margin-top:1px"
                                                    onclick="return confirm('{{confirm_message}} {{wage_bill}}. \n Are you sure you want to proceed? ')">
                                                Generate consolidated Payments
                                            </button>
                                        </a>
                                        <a href="{%url 'view_consolidated_wage_bill_payments' wage_bill.id%}">
                                            <button class="btn btn-primary" style="margin-top:1px">View Consolidated Payments</button>
                                        </a>
                                        <a href="{%url 'wage_bill_managers' wage_bill.id%}">
                                            <button class="btn btn-primary" style="margin-top:1px">Wage Bill Sheets</button>
                                        </a>   
                                    {%endif%}
                                    <a href="{%url 'wage_bill_sheets' wage_bill.id %}"><button class="btn btn-primary" style="margin-top:1px">Submitted Wage Sheets</button></a>
                                </div>
                            </div>
                        </div>
                    
                    {% endfor %}
                    </td></tr>
                    </tbody>
                </table>

            {%else%}
                <div class="card">
                    <div class="card-body">
                        <h4>No Wage Bills available</h4>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock content %}