{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load javascript_settings_tags %}
{% load wage_bill_extras %}

{%block page_title%}
View All Wage Bills
{% endblock%}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            {%if wagebills%}
            <table id="pageTable" class="table table-striped">
                <tbody>
                <tr><td>
                    {% for wage_bill in wagebills%}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="float-left">{{wage_bill.id}} </h5>
                            <h5 class="float-right">{{wage_bill.status}}</h5>
                        </div>

                        <div class="card-body">
                            <table class="table">
                                <div class="float-left">
                                    <p class="card-title"><strong>Week:</strong></p>&nbsp; &nbsp;&nbsp;
                                    <p class="card-title" style="margin:2px">{{wage_bill}}</p>
                                </div>
                                <div class="float-right text-center">
                                    <p class="card-title"><strong>Total Amount:</strong></p></br>
                                    <p class="card-title" style="margin:2px">{{wage_bill.total_consolidated_payments|intcomma}} UGX</p>
                                </div>
                            </table>
                            {%if wage_bill.is_wage_bill_week_done and not wage_bill.is_payment_generated%}
                            <a href="{%url 'generate_consolidated_wage_bill' wage_bill.id %}">
                                <button class="btn btn-primary" style="margin-top:1px"
                                        onclick="return confirm('{{confirm_message}} {{wage_bill}}. \n Are you sure you want to proceed? ')">
                                    Generate consolidated Payments
                                </button>
                            </a>
                            {%elif wage_bill.is_wage_bill_week_done %}
                            <a href="{%url 'view_consolidated_wage_bill_payments' wage_bill.id%}">
                                <button class="btn btn-primary" style="margin-top:1px">View Consolidated Payments</button>
                            </a>
                            <a href="{%url 'reset_wage_bill_payments' wage_bill.id %}">
                                <button class="btn btn-danger" style="margin-top:1px"
                                        onclick="return confirm('The operation removes all wage bill payments.\n Are you sure you want to proceed? ')">
                                    Reset Wage Bill Payments
                                </button>
                            </a>
                            {%endif%}
                            <a href="{%url 'wage_bill_managers' wage_bill.id%}">
                                <button class="btn btn-primary" style="margin-top:1px">Wage Bill Managers</button>
                            </a>
                            <a href="{%url 'wage_bill_sheets' wage_bill.id%}">
                                <button class="btn btn-primary" style="margin-top:1px">All Wage Sheets</button>
                            </a>

                        </div>
                    </div>

                    {% endfor %}
                </td></tr>
                </tbody>
            </table>

            {%else%}
            <div class="card">
                <div class="card-body">
                    <h4>No Wage Bills available</h4>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock content %}