{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
{{scope}} - PIP <!--{{scope.survey.survey_type}}-->
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-pip">
    New Record
</button>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ./row -->
        <div class="row">
            <!-- ./col -->
            <div class="col-12">
                <div class="card">
                    {% if pips %}
                    <!-- ./ card-header -->
                    <div class="card-header">
                        <h3 class="card-title">Manage PIP</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- ./card-body -->
                    <div class="card-body">
                        <table id="example1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Duration</th>
                                    <th>start</th>                                    
                                    <th>Finish</th>
                                    <th>Predecessor</th>
                                    <th>Status</th>
                                    <th>Budget</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pip in pips%}
                                <tr>
                                    <td>{{pip.activity}}</td>
                                    <td>{{duration}}</td>
                                    <td>{{pip.start_date}}</td>
                                    <td>{{pip.end_date}}</td>
                                    <td>{{pip.predecessor}}</td>
                                    <td>{{pip.status}}</td>
                                    <td>
                                    {% comment %} pip.budget.id {% endcomment %}
                                      {% if not pip.budget %}
                                        <a href="{% url 'create_budget' pip.id %}" style="color:inherit">
                                          <button class="btn btn-outline-info btn-rounded waves-effect">
                                              Create Budget
                                          </button>
                                        </a>
                                      {% else %}                                        
                                        <a href="{% url 'manage_budgets' pip.budget.id %}" style="color:inherit">
                                          <button class="btn btn-outline-info btn-rounded waves-effect">
                                              Manage Budget
                                          </button>
                                        </a>
                                      {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_pip' pip.scope.id pip.id %}" style="color:inherit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'delete_pip' pip.id %}" style="color: inherit" ...
                                            onclick="">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    <td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    {% else %}
                        <div class="card-body">
                            <h4>No PIP Record for the selected scope</h4>
                        </div>
                    {% endif %}
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="modal fade" id="modal-add-pip">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add PIP Record</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{pip_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}