{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
Edit - {{survey}}
{% endblock%}

{% block content %}    
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <form method="post" >
                    {%csrf_token%}
                    {{survey_form|crispy}}
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}