{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
Project Details
{% endblock%}

{% block content %}    
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <!-- ./col -->
            <div class="col-lg-3 col-3">
                <!-- small box -->
                <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44</h3>

                    <p>Fibre Deployement</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-3">
                <!-- small box -->
                <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>

                    <p>Sites</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'manage_sites' project.id %}" class="small-box-footer">View Sites <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box --> 
                <div class="small-box bg-success">
                <div class="inner">
                    <h3>53</h3>

                    <p>Manholes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-archive"></i>
                </div>
                <a href="#" class="small-box-footer">View Manholes <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>            
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65</h3>

                    <p>Towers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                    <a href="#" class="small-box-footer">View Towers <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        {% comment %} <!-- ./row -->
        <div class="row">
            <!-- ./col -->
            <div class="col-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="overview-tab" data-toggle="pill" href="#tabs-for-overview" role="tab" aria-controls="tabs-for-overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="fd-tab" data-toggle="pill" href="#tabs-for-fd" role="tab" aria-controls="tabs-for-fd" aria-selected="false">Fibre Deployement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="sites-tab" data-toggle="pill" href="#tabs-for-sites" role="tab" aria-controls="tabs-for-sites" aria-selected="false">Sites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="manholes-tab" data-toggle="pill" href="#tabs-for-manholes" role="tab" aria-controls="tabs-for-manholes" aria-selected="false">Manholes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tower-tab" data-toggle="pill" href="#tabs-for-tower" role="tab" aria-controls="tabs-for-tower" aria-selected="false">Tower Construction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="equipment-tab" data-toggle="pill" href="#tabs-for-equipment" role="tab" aria-controls="tabs-for-equipment" aria-selected="false">Equipment Installation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="road-crossing-tab" data-toggle="pill" href="#tabs-for-road-crossing" role="tab" aria-controls="tabs-for-road-crossing" aria-selected="false">Road Crossing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="tabs-for-overview" role="tabpanel" aria-labelledby="tabs-for-overview">                                
                                Overview
                            </div>
                            <div class="tab-pane fade" id="tabs-for-fd" role="tabpanel" aria-labelledby="tabs-for-fd">                                
                                <div class="card">
                                    <!-- ./ card-header -->
                                    <div class="card-header">
                                        <h3 class="card-title">Fibre Deployements</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- ./card-body -->
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-new">
                                            Add New
                                        </button>
                                        <table id="example1" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Duct</th>
                                                    <th>Description</th>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for duct in ducts%}
                                                <tr>
                                                    <td>{{duct.duct_code}}</td>
                                                    <td>{{duct.duct_type}}</td>
                                                    <td>{{duct.description}}</td>
                                                    <td>
                                                        <a href="#" style="color:inherit">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="#" style="color: inherit" ...
                                                            onclick="">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    <td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>                        
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <div class="tab-pane fade" id="tabs-for-sites" role="tabpanel" aria-labelledby="tabs-for-sites">
                                <div class="card">
                                    <!-- ./ card-header -->
                                    <div class="card-header">
                                        <h3 class="card-title">Manage Sites</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- ./card-body -->
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-new">
                                            Add Site
                                        </button>
                                        <table id="example1" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Duct</th>
                                                    <th>Description</th>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for duct in ducts%}
                                                <tr>
                                                    <td>{{duct.duct_code}}</td>
                                                    <td>{{duct.duct_type}}</td>
                                                    <td>{{duct.description}}</td>
                                                    <td>
                                                        <a href="#" style="color:inherit">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="#" style="color: inherit" ...
                                                            onclick="">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    <td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>                        
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <div class="tab-pane fade" id="tabs-for-manholes" role="tabpanel" aria-labelledby="tabs-for-manholes">
                                Manholes
                            </div>
                            <div class="tab-pane fade" id="tabs-for-tower" role="tabpanel" aria-labelledby="tabs-for-tower">
                                Tower Construction
                            </div>
                            <div class="tab-pane fade" id="tabs-for-equipment" role="tabpanel" aria-labelledby="tabs-for-equipment">
                                Equipment Installation
                            </div>
                            <div class="tab-pane fade" id="tabs-for-road-crossing" role="tabpanel" aria-labelledby="tabs-for-road-crossing">
                                Road Crossing
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row --> {% endcomment %}
    </div>
    <!-- /.container-fluid --> 

    <!-- ./modal -->
    <div class="modal fade" id="modal-add-project">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add New Project</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}