{% extends '../base.html' %}
{% load static %}
{% load humanize%}
{%block page_title%}
Notifications
{% endblock%}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {%if user.notifications%}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <th>Title</th>
                            <th>Message</th>
                            <th>Time</th>
                            </thead>
                            {%for notification in user.notifications%}
                            <tbody>
                            <td>{{notification.title}}</td>
                            <td>{{notification.message}}</td>
                            <td>{{notification.sent_time | naturaltime}}</td>
                            </tbody>
                            {%endfor%}
                        </table>
                    </div>
                    {%else%}
                    <h3>No notifications yet</h3>
                    {%endif%}
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock content %}