{% extends "./base.html" %}
{% block title %}<h1>Forgotten your password?</h1>{% endblock %}
{% block content %}
<p>Enter your e-mail address to obtain a new password.</p>
<form method="post">
    <div class="input-group mb-3">
            <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    required
            />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">
                    Send e-mail
                </button>
            </div>
        </div>
    {% csrf_token %}
</form>
{% endblock %}