{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%load humanize%}
{%block page_title%}
Approve/Reject Wage Sheets
{% endblock%}

{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if wage_sheets%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Approve wage sheets as {{user.user_role}}</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    <table id="example1" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Wage Bill Week</th>
                            <th>Day of the week</th>
                            <th>Total Wages</th>
                            <th>Total Complaints</th>
                            <th>Total Deductions</th>
                            <th>Total Amount</th>
                            <th>Supervisor</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for wage_sheet in wage_sheets%}
                        <tr data-id={{wage_sheet.id}}>
                            <td>{{wage_sheet.wage_bill}}</td>
                            <td>{{wage_sheet.date|date:'l'}}</td>
                            <td>{{wage_sheet.total_wages|intcomma}}/=</td>
                            <td>{{wage_sheet.total_complaints|intcomma}}/=</td>
                            <td>{{wage_sheet.total_deductions|intcomma}}/=</td>
                            <td>{{wage_sheet.total_amount|intcomma}}/=</td>
                            <td>
                                {{wage_sheet.supervisor_user}}
                            </td>
                            <td>
                                <a href="{%url 'manage_submitted_sheet' wage_sheet.id%}">
                                    <button class="btn-sm btn-outline-info btn-rounded waves-effect">
                                        View to approve/reject
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No pending wage sheets available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{%endblock%}
