{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{%block page_title%}
Manage Deductions for sheet {{wage_sheet.id}}
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-deduction">
    New Deduction
</button>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if deductions%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Deductions</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    Wage Sheet Info
                    <table border="1" cellpadding="5" id="pageTable">
                        <tr>
                             <th>Date</th>
                            <td>{{wage_sheet.date}}</td>
                            <th>Field Manager</th>
                            <td>{{wage_sheet.field_manager}}</td>
                            <th>Supervisor</th>
                            <td>{{wage_sheet.supervisor}}</td>
                            <th>Segment</th>
                            <td>{{wage_sheet.segment}}</td>
                        </tr>
                    </table>
                    <table id="example1" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Deduction ID</th>
                            <th>Worker</th>
                            <th>Cause</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for deduction in deductions%}
                        <tr>
                            <td>{{deduction.id}}</td>
                            <td>{{deduction.worker}}</td>
                            <td>
                                {{deduction.cause}}
                            </td>
                            <td>{{deduction.amount}}</td>
                            <td>{{deduction.description}}</td>
                            <td>
                                <a href="{%url 'edit_deduction' deduction.id%}" style="color:inherit">
                                    <i class="fa fa-edit"></i>
                                </a> |
                                <a href="{%url 'delete_deduction' deduction.id%}" style="color: inherit">
                                    <i class="fa fa-trash" onclick="return 'Do you want to delete
                                    {{deduction.worker}} deduction?'"></i>
                                </a>
                            <td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No deductions available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="modal fade" id="modal-add-deduction">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Deduction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}