{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%load humanize%}

{%block page_title%}
Manage Wage Sheets
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-team">
    New Wage Sheet
</button>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if wage_sheets%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Wage Sheets Pending Submission</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="pageTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Wage Bill Week</th>
                                <th>Day of the week</th>
                                <th>Field Manager</th>
                                <th>Action</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wage_sheet in wage_sheets%}
                            <tr data-id={{wage_sheet.id}}>
                                <td>{{wage_sheet.wage_bill}}</td>
                                <td>{{wage_sheet.date | date:'l'}}</td>
                                <td>
                                    {{wage_sheet.field_manager_user}}
                                </td>
                                <td>
                                    {% if wage_sheet.is_submitted %}
                                    <a href="{%url 'manage_submitted_sheet' wage_sheet.id%}"
                                       class="btn btn-outline-info btn-rounded waves-effect">
                                        Submitted|View Wages
                                    </a>
                                    {% else %}
                                    <a href="{%url 'submit_wage_sheet' wage_sheet.id%}" class="btn btn-outline-info btn-rounded waves-effect"
                                       onclick="return confirm('Are you sure you want to submit this Wagesheet?')">
                                        Submit Sheet
                                    </a>
                                    {% endif %}
                                <td>
                                    <a href="{%url 'manage_wages' wage_sheet.id%}">
                                        <button class="bright-btn btn-sm btn-outline-info btn-rounded waves-effect">
                                            Manage Wages
                                        </button>
                                    </a>

                                    <a href="{%url 'manage_group_wages' wage_sheet.id%}">
                                        <button class="bright-btn btn-sm btn-outline-info btn-rounded waves-effect">
                                            Manage Group Wages
                                        </button>
                                    </a>

                                    <a href="{%url 'manage_complaints' wage_sheet.id%}">
                                        <button class="bright-btn btn-sm btn-outline-info btn-rounded waves-effect">
                                            Manage Complaints
                                        </button>
                                    </a>
                                    <a href="{%url 'manage_deductions' wage_sheet.id%}">
                                        <button class="bright-btn btn-sm btn-outline-info btn-rounded waves-effect">
                                            Manage Deductions
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{%url 'edit_wage_sheet' wage_sheet.id%}" style="color:inherit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                <td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No wage sheets pending submission available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="modal fade" id="modal-add-team">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Wage Sheet</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center text-primary"> Wage Bill Week: {{wage_bill}}</h3>
                    {{ form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Confirm Submit -->
<div class="modal fade" id="modal-confirm-submit">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Submit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to submit this Wagesheet?
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Dismiss</button>
                <button type="submit" class="btn btn-success">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock content %}