{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{%block page_title%}
Submitted Wage Sheet
{% endblock%}

{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Wage Sheet Info</h4>
                    <div class="table-responsive">
                        <table border="1" cellpadding="5">
                            <tr>
                                <th>Date</th>
                                <td>{{wage_sheet.date}}</td>
                                <th>Field Manager</th>
                                <td>{{wage_sheet.field_manager_user}}</td>
                                <th>Supervisor</th>
                                <td>{{wage_sheet.supervisor_user}}</td>
                                <th>Project</th>
                                <td>{{wage_sheet.segment.execution_scope.survey.project}}</td>
                                <th>Segment</th>
                                <td>{{wage_sheet.segment}}</td>
                            </tr>
                        </table>

                        
                    </div>
                </div>
            </div>
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Wages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Complaints</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Deductions</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            {%if wages%}
                            <div class="table-responsive">
                                <table id="wages_table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Worker</th>
                                        <th class="text-center">Activity</th>
                                        <th class="text-center">Payment</th>
                                        <th class="text-center">Manager</th>
                                        <th class="text-center">PM</th>
                                        <th class="text-center">GM</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for wage in wages%}
                                    <tr>
                                        <td class="text-center">{{wage.worker}}</td>
                                        <td class="text-center">
                                            {{wage.activity}}
                                        </td>
                                        <td class="text-center">
                                            {{wage.quantity}} Meters - </br>
                                            UGX {{wage.payment | intcomma}}/-
                                        </td>
                                        <td class="text-center">
                                            {% if wage.is_manager_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if wage.is_pm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if wage.is_gm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href = "{% url 'reject_wage' wage.id %}" class="btn btn-outline-danger btn-rounded waves-effect"
                                               onclick="return confirm('Are you sure you want to Reject this Wage?')">
                                                Reject
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {%else%}
                            <h1>No wages</h1>
                            {%endif%}
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            {%if complaints%}
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Worker</th>
                                        <th class="text-center">Activity</th>
                                        <th class="text-center">Payment</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Manager</th>
                                        <th class="text-center">PM</th>
                                        <th class="text-center">GM</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for complaint in complaints%}
                                    <tr>
                                        <td class="text-center">{{complaint.worker}}</td>
                                        <td class="text-center">
                                            {{complaint.activity}}
                                        </td>
                                        <td class="text-center">
                                            {{complaint.quantity}} Meters - </br>
                                            UGX {{complaint.payment | intcomma}}/-
                                        </td>
                                        <td class="text-center">
                                            {{complaint.description}}
                                        <td class="text-center">
                                            {% if complaint.is_manager_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if complaint.is_pm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if complaint.is_gm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href = "{% url 'reject_complaint' complaint.id%}" class="btn btn-outline-danger btn-rounded waves-effect"
                                               onclick="return confirm('Are you sure you want to Reject this Complaint?')">
                                                Reject
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {%else%}
                            <h1>No complaints</h1>
                            {%endif%}
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                            {%if deductions%}
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Worker</th>
                                        <th class="text-center">Cause</th>
                                        <th class="text-center">Deduction</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Manager</th>
                                        <th class="text-center">PM</th>
                                        <th class="text-center">GM</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for deduction in deductions%}
                                    <tr>
                                        <td class="text-center">{{deduction.worker}}</td>
                                        <td class="text-center">
                                            {{deduction.cause}}
                                        </td>
                                        <td class="text-center">
                                            UGX {{deduction.amount | intcomma}}/-
                                        </td>
                                        <td class="text-center">
                                            {{deduction.description}}
                                        <td class="text-center">
                                            {% if deduction.is_manager_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if deduction.is_pm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if deduction.is_gm_approved %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href = "{% url 'reject_deduction' deduction.id role %}" class="btn btn-outline-danger btn-rounded waves-effect"
                                               onclick="return confirm('Are you sure you want to Reject this Deduction?')">
                                                Reject
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {%else%}
                            <h1>No Deductions</h1>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <!-- /.card body -->
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-small">
                            <tr>
                                <th scope="row">Field Manager Approval Status:</th>
                                <td>
                                    {% if wage_sheet.manager_status == 1 %}
                                    <span style="color:green">Approved</span>
                                    {% elif wage_sheet.manager_status == 0%}
                                    <span style="color:red">Rejected</span>
                                    {% else %}
                                    Pending
                                    {% endif %}
                                </td>
                                <th scope="row">Field Manager Comment:</th>
                                <td>{{wage_sheet.manager_comment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Project Manager Status:</th>
                                <td>
                                    {% if wage_sheet.project_manager_status == 1 %}
                                    <span style="color:green">Approved</span>
                                    {% elif wage_sheet.project_manager_status == 0%}
                                    <span style="color:red">Rejected</span>
                                    {% else %}
                                    Pending
                                    {% endif %}
                                </td>
                                <th scope="row">PM Comment:</th>
                                <td>{{wage_sheet.project_manager_comment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">General Manager Status:</th>
                                <td>
                                    {% if wage_sheet.gm_status == 1 %}
                                    <span style="color:green">Approved</span>
                                    {% elif wage_sheet.gm_status == 0%}
                                    <span style="color:red">Rejected</span>
                                    {% else %}
                                    Pending
                                    {% endif %}
                                </td>
                                <th scope="row">GM Comment:</th>
                                <td>{{wage_sheet.gm_comment}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card approval -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}