{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
Submitted Wage Sheets
{% endblock%}

{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if wage_sheets%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Wage Sheets</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                    <table id="example1" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Field Manager</th>
                            <th>Supervisor</th>
                            <th>Description</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for wage_sheet in wage_sheets%}
                        <tr data-id={{wage_sheet.id}}>
                            <td>{{wage_sheet.id}}</td>
                            <td>{{wage_sheet.date}}</td>
                            <td>
                                {{wage_sheet.field_manager}}
                            </td>
                            <td>
                                {{wage_sheet.supervisor}}
                            </td>
                            <td>{{wage_sheet.description}}</td>
                            <td>
                                <a href="{%url 'manage_submitted_sheet' wage_sheet.id 1%}">
                                    <button class="btn-sm btn-outline-info btn-rounded waves-effect">
                                        View Details
                                    </button>
                                </a>   
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No Submitted wage sheets available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}