{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{%block page_title%}
All Submitted Wage Sheets For Wage Bill {{wage_bill}}
{% endblock%}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if wage_sheets%}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Wage Sheets for wage bill week {{wage_bill}}</h3>
                </div>
                <!-- ./card-body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="pageTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Day</th>
                                <th>Supervisor</th>
                                <th>Field Manager</th>
                                <th>Project Manager</th>
                                <th>Type</th>
                                <th>Total Wages</th>
                                <th>Total Complaints</th>
                                <th>Total Deductions</th>
                                <th>FM Approval</th>
                                <th>PM Approval</th>
                                <th>GM Approval</th>
                                <th>Supervisor Submission Time</th>
                                <th>Field Manager Approval Time</th>
                                <th>Project Manager Approval Time</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wage_sheet in wage_sheets%}
                            <tr data-id={{wage_sheet.id}}>
                                <td>{{wage_sheet.id}}</td>
                                <td>{{wage_sheet.date}}</td>
                                <td>{{wage_sheet.date|date:"l"}}</td>
                                <td>
                                    {{wage_sheet.supervisor_user}}
                                </td>
                                <td>
                                    {{wage_sheet.field_manager_user}}
                                </td>
                                <td>
                                    {{wage_sheet.project_manager_user}}
                                </td>
                                <td>{{wage_sheet.supervisor_user.type}}</td>
                                <td>{{wage_sheet.total_wages|intcomma}}</td>
                                <td>{{wage_sheet.total_complaints|intcomma}}</td>
                                <td>{{wage_sheet.total_deductions|intcomma}}</td>
                                <td>
                                    {%if wage_sheet.manager_status%}
                                    <span style="color:green">Approved</span>
                                    {%elif wage_sheet.is_field_manager_pending%}
                                    <span>Pending</span>
                                    {%else%}
                                    <span style="color:red">Rejected</span>
                                    {%endif%}
                                </td>
                                <td>
                                    {%if wage_sheet.project_manager_status%}
                                    <span style="color:green">Approved</span>
                                    {%elif wage_sheet.is_project_manager_pending%}
                                    <span>Pending</span>
                                    {%else%}
                                    <span style="color:red">Rejected</span>
                                    {%endif%}
                                </td>
                                <td>
                                    {%if wage_sheet.gm_status%}
                                    <span style="color:green">Approved</span>
                                    {%elif wage_sheet.is_general_manager_pending%}
                                    <span>Pending</span>
                                    {%else%}
                                    <span style="color:red">Rejected</span>
                                    {%endif%}
                                </td>
                                <td>{{wage_sheet.supervisor_submission_time}}</td>
                                <td>{{wage_sheet.field_manager_approval_time}}</td>
                                <td>{{wage_sheet.project_manager_approval_time}}</td>
                                <td>
                                    <a href="{%url 'submitted_wage_sheet_page' wage_sheet.id%}">
                                        <button class="btn-sm btn-outline-info btn-rounded waves-effect">
                                            View Details
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            {%else%}
            <div class="card-body">
                <h4>No wage sheets submitted for the current wage bill</h4>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}